<div class="main">
    <div class="body">
        <h1>Pokedex</h1>

        <div class="screen">
            <img src="{{pokemon.sprites.front_default}}" />
            {{poke-screen display=display}}
        </div>
            {{input value=pokename}}
        <button {{action "getPokemon" pokename}}>Go!</button>

        <button class="btn-secondary" {{action "changeComponent" "type" pokemon}}>Type</button>
        <button class="btn-secondary" {{action "changeComponent" "ability" pokemon}}>Abilities</button>
    </div>
</div>
{{outlet}}